#navigation2 {
			margin: 0;
			padding: 0;
			list-style: none;
			background: #000;
			color: #fff;
			width: 200px;
			font: 1.2em "Trebuchet MS", sans-serif;
			}
		#navigation2 a, #navigation2 span {
			display: block;
			padding: 4px 10px;
			color: #fff;
			text-decoration: none;
			background: #000 url(menu-item.png) left bottom no-repeat;
			}
		#navigation2 .toggleSubMenu a, #navigation2 .toggleSubMenu span {
			background-image: url(menu-item-deroule.png);
			}
		#navigation2 .open a, #navigation2 .open span {
			background-image: url(menu-item-enroule.png);
			}
		#navigation2 a:hover, #navigation2 a:focus, #navigation2 a:active {
			text-decoration: underline;
			}
		#navigation2 .subMenu {
			font-size: .8em;
			background: #ccc url(subMenu.png) 0 0 repeat-x;
			font-size: .9em;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid #666;
			}
		#navigation2 ul.subMenu a {
			background: none;
			padding: 3px 20px;
			}
